/* * {
    border: 1px solid blue;
}  */

body{
    background-image:  linear-gradient(to right top, #282941, #2e314f, #333a5e, #37436d, #3a4d7d, #3d558d, #3f5d9d, #4165ad, #466dc0, #4d75d4, #557ce7, #5f84fb);
    height: 100vh;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    color: white;
    background-color: #282941;
    border-radius: 30px;
    height: 50px;
    width:100px;
    margin-top:30px;
    box-shadow: 5px 5px 10px #282941;
    font-size: 18px
}
.bubble{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color:#9ab8f4;
    border-radius: 22.5px;
    box-shadow: 5px 5px 10px #282941;
}
.try{
    text-align: center;
    color: #243e7b;
    font-size: 20px;
}
.lab{
    color: white;
    margin: 20px;
    font-size: 20px;   
}
.title{
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}